.filterBtn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px 8px;
  position: relative;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
}
.filterBtn:hover {
  color: #e0a3ff;
  border-color: #e0a3ff;
  transition: color 0.3s ease;
}
.filterBtnActive {
  color: #e0a3ff;
  border-color: #e0a3ff;
  transition: color 0.3s ease;
}

.list {
  margin-top: 10px;
  background-color: #6a0572;
  position: absolute;
  width: 248px;
  height: auto;
  border-radius: 12px;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.listItem {
  font-size: 20px;
  font-weight: 400;
}
.listItemActive {
  color: #e0a3ff;
  transition: color 0.3s ease;
}
.listItem:hover {
  color: #e0a3ff;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.filterCount {
  width: 30px;
  height: 30px;
  background-color: rgb(173, 97, 255);
  border-radius: 50%;
  position: absolute;
  color: #ffffff;
  text-align: center;
  right: -10px;
  bottom: 20px;
  padding-top: 1px;
}
