.main_nav {
  width: 244px;
  padding: 20px 0 20px 36px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 100vh;
}
.nav_menu {
  display: block;
  visibility: visible;
  margin-top: 50px;
  cursor: pointer;
}
.nav_item {
  padding: 5px 0;
  margin-bottom: 16px;
}
.nav_link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.burger {
  margin-bottom: 36px;
}
.logo {
}
