/* .centerblock__content_playlist {
    display: flex;
   gap: 50px;
   flex-direction: column;
   align-content: center;
  } */
  
  .content_playlist_title {
    display: flex;
    flex-direction: row;
    gap: 150px;
  } 
  
  .playlist_title{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 37px;
  }
  .list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  /* .playlist_title_author{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  } */
  /* .playlist_title_song{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

  } */
  .playlist_title_col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }
  .playlist_track_title{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .playlist_author{
    display: flex;
    align-items: center;
  }
  /* .playlist_time{
    display: flex;
    align-content: center;
  } */